In [2]:
import pandas as pd 
pd.read_csv("Cities.csv")

In [4]:
cities = pd.read_csv("Cities.csv", usecols = ["City"])
pop = pd.read_csv("Cities.csv", usecols = ["Population"])
#cities
pop.head(3)

In [6]:
cities.head (n = 5)

    name  age  gender
0  Sally    4  female
1   Jhon    6    male
2    Kim    7    male

In [9]:
cities.tall (n = 5)

       name  age  gender
Kid1  Sally    4  female
Kid2   Jhon    6    male
Kid3    Kim    7    male

In [ ]:
#cities.sort_values()
cities.sort_values(by = ["City"], ascending = False)

In [ ]:
#cities.sort_values()
cities.sort_values(by = ["City"])

In [ ]:
cities.sort_values(by = ["City"], ascending = False). head()

In [ ]:
cities.sort_values(by = ["City"], ascending = False, inplace = True)
print(cities)

In [ ]:
citie.sort_index(ascending = True, inplace = True)

In [ ]:
cities = data["City"]
print(cities)

In [ ]:
cities[[3, 5, 7]]
cities.sort_values()

In [ ]:
City = pd.read_csv("Cities.csv", usecols = ["City", "Country"], index_col = "City")
City = City["Country"]

In [ ]:
city.get(["Aizahai", "Alis"])
print(city.get(["Aizahai", "Alis"]))

In [ ]:
population = pop["Population"]
population